* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #32383f;
  color: #e78e29;
}

.bg-gray {
  background-color: #32383f;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.time {
  font-size: 21px;
}

.strong-text {
  font-weight: bold;
}
